*{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  position: relative;
}

header {
  height: 72px;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
}


.s-name {
  line-height: 3.8rem;
}

.h-icon {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns-icon{
  margin-left: 16px;
}
.header__hamburger {
  width: 32px;
  display: none;
}

.scrolled {
  display: block;
  position: fixed;
  top: 40px;
  right: 16px;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}


.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.cl {
  width: 100%;
  height: 100vh;
  background: #e8e3e3;
  opacity: 0;
  position: fixed;
  padding-top: 72px;
  top:0;
  display: none;
}

.cl ul {
  text-align: center;
  margin-top: 72px;
  
}

.m-name {
  font-size: 32px;
  color: #000;
}

.cl ul li + li {
  margin-top: 64px;
}

.cl.active{
  display: block;
  color: #000;
  opacity: .8;
}



/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
  
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -15px;
  transform: rotate(-45deg);
  
} 

/* main  ===============================================*/
.main-icon {
  width: 100%;
}

/* news ================================================ */

.news {
  margin: 160px auto 0;
  width: 90%;
  
}

.news h1 {
  text-align: center;
}

.news ul li {
  margin-top: 16px;
}

pre {
  color: #000;
}

/* album ================================================= */

.single h1 {
  text-align: center;
  margin: 64px 0 16px;
}

.jyake {
  margin: 0 auto;
}

.jyake img{
  width: 100%;
}

.profile {
  width: 100%;
}

.profile h1 {
  text-align: center;
  margin: 64px 0 16px;
}

.profile p{
  width: 90%;
  margin: 0 auto;
}

/* schedule========================================== */

.schedule {
  margin: 160px auto 0;
  width: 90%;
  
}

.schedule h1 {
  text-align: center;
}

.schedule ul li {
  margin-top: 16px;
}

/* footer ============================================ */

footer {
  background: #ebe5e5;
  margin-top: 64px;
  padding: 32px 0;
}

.f-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-i {
  width: 60%;
  margin: 16px auto;
  padding-top: 16px;
}

.f-s {
  text-align: center;
  padding-bottom: 16px;
}

.font-small {
  font-weight: normal;
}

.font-place {
  margin-left: 5%;
}